
.admin_page{
    width: 100%;
    height: 100%;
    /* display: flex; */
    flex-direction: column;
    justify-content: center;
    align-items: center;
   
}

.card1{
    height: 30%;
    width: 100%;
}

.card{
    box-sizing: border-box;
    /* width: 60%; */
    /* height: 30%; */
    padding: 2rem;
    /* border:2px solid black; */
    /* display: flex; */
    flex-direction: column;
    gap: 0.2em;
    justify-content: center;
    align-items: center;
    background: #d0d7e1;;
    border-radius: 5%;
    color: #272c4a;;

}
.card{
    border: 0px !important;
}

.cardInner{
    width: 100%;
    display: flex;
    gap:5%

}
label{
    width: 20%;
    pointer-events: none;
    transition: 0.2s;
    font-weight: 600
}

input{
    width: 50%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 0px;
}

input::placeholder{
    padding: 10px;
}

select{
    border-radius: 5px;
}

.timecontainer{
    display: flex;
    width: 100%;
    
    gap:15%
}
.timecontainer label{
    width: 20%;
    pointer-events: none;
    transition: 0.2s;
}
 .timecontainer input{
    width: 20%;
    border: none;
    outline: none;
    border-radius: 5px;
    padding: 7px 0px;
 }

textarea{
    border-radius: 5px;
    padding: 10px;
    width: 50%;
    /* height: 100%; */
}

textarea::placeholder{
    padding: 10px;
}

.card button{
    margin: 20px;
    border: none;
   
    outline: none;
    border-radius: 10px;
    padding: 5px;
    width: 100%;

}


@media only screen and (max-width: 440px) {
      input{
        width: 50%;
      }
      .card{
        width: 90%;
      }
  }

