/* Login.css */

.login-container1{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b203d;
    display: flex;
    flex-direction: column;
}
.login-container {
    max-width: 500px;
    width: 60%;
    /* margin: auto auto; */
    padding: 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: #272c4a;
    border-radius: 5%;
    color: white;
  }
  .logo_container{
    height: 20%;
    /* width: 20%; */
  }
   img{
    width:100%;
    height:80%;
  }
  .login-form {
    display: flex;
    flex-direction: column;
    /* gap: 1vw; */
  }
  .login-form div{
    display: flex;
    justify-content: space-around;
  }
  
  .login-form label {
    margin-bottom: 5px;
  }
  
  .login-form input {
    margin-bottom: 20px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .login-button button {
    background-color:  #1b203d;
    color: white;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    width: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-weight: bolder;
  }
  
  .login-button button:hover {
    background-color: #0056b3;
  }
  
  .error {
    color: red;
    margin-bottom: 15px;
  }
  
  @media only screen and (max-width: 770px) {
    .login-container {
      width: auto;
    }
}