/* AlertComponent.css */

/* General styling for the component */
.alert-container-main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1b203d;
}
.alert-container {
    padding: 20px;
    background-color: #f5f5f5;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 600px;
    margin: 20px auto;
    background: #272c4a;
}

.alert-input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box; /* Makes sure the padding doesn't affect the total width */
}

.alert-button {
    padding: 10px 20px;
    margin-right: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.alert-button:hover {
    background-color: #ddd; /* Change the color for hover state */
}

/* Specific styles for each button to differentiate them */
.create-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

.edit-button {
    background-color: #2196F3; /* Blue */
    color: white;
}

.delete-button {
    background-color: #f44336; /* Red */
    color: white;
}
