.event-card{
    box-sizing: border-box;
    width: 60%;
    /* height: 30%; */
    padding: 2rem;
    /* border:2px solid black; */
    display: flex;
    flex-direction: column;
    gap:10px;
    justify-content: center;
    align-items: center;
    background: #272c4a;
    border-radius: 5%;

}


.cardInner{
    width: 100%;
    display: flex;
    gap:5%

}


label{
    width: 20%;
    text-align: justify;
}

input{
    width: 50%;
}

.buttons{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap:2%;
    cursor: pointer;
    
}
.event-card button{
    border-radius: 5px;
    padding: 5px;
    outline: none;
    border: none;
    width: 10%;
    cursor: pointer;
}

a{
    color: white;
     
}

@media only screen and (max-width: 440px) {
     label{
        width: 30%;
     }
    .event-card{
      width: 90%;
    }
    .event-card button{
     width: auto;
    }
}


